@page
@model PrivacyModel
@{
    ViewData["Title"] = "Über den Verein";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="background-color: lightblue">
    <div style="font-family: 'Calibri'; padding-bottom: 40px">
        Als 1. Badmintonverein Görlitz spielen wir Badminton im Leistungsbereich bei Turnieren, Punkztspielen und natürlich im Training. Wir haben ca. 35 Kinder und 40 Erwachsene in unserem Verein. Bei den Erwachsenen gibt es auch eine Volkssportgruppe welche sich immer größerer Beliebtheit erfreut.
    </div>
    <div>
        <pre style="font-family: 'Calibri'; font-size: 16px; white-space: pre-wrap; word-wrap: break-word; max-width: 1500px;">
            @Model.ImpressumContent
    </pre>
        <img src="/ImgContent/Impressum_1BVGoerlitz.jpg" alt="Img_Impressum_HomePage ----> Error 1: Image src lost. Please contact admin" />
    </div>

</body>
</html>
