@page
@model PrivacyModel
@{
    ViewData["Title"] = "Über den Verein";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="background-color: lightblue">
    <div style="font-family: 'Calibri'; padding-bottom: 40px">
        Als der 1. Badmintonverein Görlitz spielen wir seit 1999 Badminton im Leistungsbereich, nehmen an Turnieren und Punktspielen teil und engagieren uns natürlich intensiv im Training. Die Ursprünge unseres Vereins reichen bis in die DDR-Zeiten zurück. Mit ungefähr 35 Kindern und 40 Erwachsenen in unseren Reihen sind wir stolz darauf, eine vielfältige und engagierte Gemeinschaft zu sein. Zusätzlich erfreut sich unsere Volkssportgruppe bei den Erwachsenen immer größerer Beliebtheit.
    </div>
    <div>
        <pre style="font-family: 'Calibri'; font-size: 16px; white-space: pre-wrap; word-wrap: break-word; max-width: 1500px;">
        @Model.ImpressumContent
    </pre>
        <img src="/ImgContent/Impressum_1BVGoerlitz.jpg" alt="Img_Impressum_HomePage ----> Error 1: Image src lost. Please contact admin" />
    </div>

</body>
</html>
