@page
@model _1BVGoerlitz_Hub.Pages.GebuehrenordnungModel
@{
    ViewData["Title"] = "Gebührenordnung";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="background-color: lightblue">
    <div>
        <pre>@Model.GebuehrenordnungContent</pre>
        <img src="/ImgContent/Impressum_1BVGoerlitz.jpg" alt="Img_Impressum_HomePage ----> Error 2: Image src lost. Please contact admin" />
    </div>
</body>
</html>

