@page
@model _1BVGoerlitz_Hub.Pages.ManageFilesModel
@{
    ViewData["Title"] = "Manage Files -";
}

@if (Model.IsPasswordCorrect)
{
    <h2 style="text-decoration: underline">Neue Dateien Hochladen</h2>
    <p>Alle Dateien die hier hochgeladen sind werden auf der Kalender-Seite angezeigt. Bitte nur .pdf-Dateien hochladen.</p>

    <form method="post" enctype="multipart/form-data" style="margin-bottom: 25px">
        <div>
            <label for="file">PDF-Dokument auswählen: </label>
            <input type="file" name="file" id="file" required />
            <button type="submit">Hochladen</button>
        </div>
    </form>

    <h2 style="text-decoration: underline">Vorhandene Dateien entfernen</h2>
    @foreach (var pdfPath in Model.PdfPaths)
    {
        <div>
            <span>@pdfPath</span>
            <a asp-page-handler="Delete" asp-route-path="@pdfPath" onclick="return confirm('Are you sure you want to delete this file?')" style="margin-left: 10px">Löschen</a>
        </div>
    }
}
else
{
    <h3>Adminansicht</h3>

    <form method="post" asp-page-handler="CheckPassword">
        <div>
            <label for="password">Passwort eingeben: </label>
            <input type="password" name="password" id="password" required />
            <button type="submit">--></button>
        </div>
    </form>
}
