@page
@model _1BVGoerlitz_Hub.Pages.SponsorenModel
@{
    ViewData["Title"] = "Sponsoren";
}

<h1>@ViewData["Title"]</h1>

<h3>Hier können Sponsoren gezeigt werden, evt. auch Werbefläche wenn nötig.</h3>
